101 DIALOGEX 0, 0, 294, 129, 0
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_MAXIMIZEBOX | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_THICKFRAME | WS_TABSTOP
CAPTION "Change Variable"
FONT 8, "MS Shell Dlg", 0
{
 EDITTEXT 1001, 48, 14, 239, 14, ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
 EDITTEXT 1002, 47, 35, 239, 64, ES_MULTILINE | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 179, 108, 50, 14
 PUSHBUTTON "Cancel", 2, 237, 108, 50, 14
 LTEXT "Name:", 1005, 7, 17, 37, 8
 LTEXT "Value:", 1006, 7, 35, 36, 8
}
