106 DIALOGEX 0, 0, 195, 81, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION | WS_TABSTOP
CAPTION "Properties"
FONT 8, "MS Shell Dlg", 0
{
 COMBOBOX 1008, 100, 14, 88, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", 1, 45, 60, 50, 14
 PUSHBUTTON "Cancel", 2, 101, 60, 50, 14
 LTEXT "Language:", 1009, 7, 17, 65, 8
}
